<h2>Captain <%= first_name %> <%= last_name %></h2>

<p><%= first_name %> <%= last_name %> has volunteered to be Captain of The Skiff this week. You'll find <%= them %> at The Skiff most of this week with the "Welcome Aboard" boat on <%= their %> desk. Here's a photo so you can recognise <%= them %>:<br />
<img src="<%= image %>" class="img-fluid" /><br />
<br />
Please say hello to <%= first_name %> and thank <%= them %> for keeping an extra eye out for us all.<br />
<br />
Learn more about the role of Captain: <a href="https://www.theskiff.org/captains/">https://www.theskiff.org/captains/</a></p>