<h2>Captain <%= first_name %> <%= last_name %></h2>

<p><%= first_name %> <%= last_name %> has volunteered to be Captain of The Skiff this week. You'll find <%= them %> at The Skiff most of this week with the "Welcome Aboard" boat on <%= their %> desk. Here's a photo so you can recognise <%= them %>:<br />
<img src="<%= image %>" class="img-fluid" /><br />
<br />
Please say hello to <%= first_name %> and thank <%= them %> for keeping an extra eye out for us all.<br />
<br />
The role of Captain has been created is to provide guidance and an extra line of communication to Skiff Mates new and old. Answering the door and doing tours (for example) <strong>continue to be things all Skiff Mates help with</strong> - it's for your benefit. If something is making The Skiff unsafe, insecure, intimidating, broken, untidy or uncomfortable we all have a responsibility to report it and/or fix it. If an issue comes up you can continue to email hello@theskiff.org or ask James Forbes, Anna or I via Slack. But now you also have the option of speaking someone (this week <%= first_name %>) in person.</p>