<div class="clearfix">
<img src="<%= image %>" class="img-fluid float-left w-50 mr-3" />
<h1 class="display-2">Captain<br /> <%= first_name %> <%= last_name %></h1>
<h2>Keeping an extra eye out for us all this week.</h2>
</div>
<div class="w-100 text-center mt-2">
  <h2><strong>Not sure about something?</strong> When <%= theyre %> in <%= first_name %> will be sat with the Welcome Aboard Boat</h2>
  <br />
  <h2>Learn more about Skiff Captains: <a href="https://www.theskiff.org/captains/">theskiff.org/captains/</a></h3>
</div>