---
title: What's on at The Skiff
sitemap_noindex: true
sitemap_priority: 0.8

captain:
  first_name: Ben
  last_name: Edwards
  they: he
  theyre: he's
  them: him
  their: his
#  they: she
#  theyre: she's
#  them: her
#  their: her
  image: /images/ben-edwards.jpg

week:
  date: "12-03-2018"
  days:
    -
      name: Monday
      events:
        - show_and_tell
    -
      name: Tuesday
      events: []
    -
      name: Wednesday
      events:
        - pilates
        - brighton_mobile
    -
      name: Thursday
      events:
        - webdev
    -
      name: Friday
      events: []
    -
      name: Saturday
      events:
        - uxcamp

---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">

      <h1>What's On at The Skiff This Week</h1>

      <%= partial "this-week" %>

      <%= partial "captain", :locals => current_page.data.captain %>

      <h2>The Week <%= Date.parse(current_page.data.week.date).strftime("%e %B %Y") %> at The Skiff</h2>


        <% @i = 1 %>
        <% current_page.data.week.days.each do |day| %>
          <% unless day.events.empty? %>
            <h3><%= day.name %></h3>
              <ul>
                <% day.events.each do |event| %>
                <li>#<%= @i %> <%= data.events[event].name %> <%= data.events[event].time %> <%= data.events[event].location %></li>
                <% @i += 1 %>
                <% end %>
              </ul>
          <% end %>
        <% end %>


      <h2>The Details</h2>

      <% @i = 1 %>
      <% current_page.data.week.days.each do |day| %>
        <% day.events.each do |event| %>
          <% unless event.blank? %>
            <%= partial "event", :locals => {:event=>data.events[event], :week=>current_page.data.week.date, :day=>day.name, :index=>@i, } %>
          <% @i += 1 %>
          <% end %>
        <% end %>
      <% end %>

      <h1>Something missing?</h1>
      Have we missed your event or gathering? Let everyone know now via <a href="http://theskiff.groupbuzz.io">Groupbuzz</a>. Make sure you tell us at least a week before the next time it comes up via hello@theskiff.org. We'll be sending these round ups every Monday (usually first thing in the morning).<br />
      <br />
      Have a great week!<br />
      <br />
      Jon &amp; Anna<br />
      <br />
      PS We're working on a free course to help people like you have a happier 2018 while continuing to work from home. Over 500 people have signed up to the course.<br />
      It would be fantastic to include your answers to some of their questions about working from home.<br />
      If you're happy to help by providing a sentence or two in response to a series of questions please click here:
      [Answer some common homeworking questions]
    </div>
  </div>
</div>
