<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "The Skiff" %></title>
    <!-- Search Engine -->
    <meta name="description" content="<%= current_page.data.description || "A Coworking community in Brighton for individuals - freelancers, remote workers and solo business owners." %>">
    <meta name="image" content="https://theskiff.org<%= current_page.data.image || "/images/skiff-mates.jpg" %>">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="<%= current_page.data.title || "The Skiff" %>">
    <meta itemprop="description" content="<%= current_page.data.description || "A Coworking community in Brighton for individuals - freelancers, remote workers and solo business owners." %>">
    <meta itemprop="image" content="https://theskiff.org<%= current_page.data.image || "/images/skiff-mates.jpg" %>">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= current_page.data.title || "The Skiff" %>">
    <meta name="twitter:description" content="<%= current_page.data.description || "A Coworking community in Brighton for individuals - freelancers, remote workers and solo business owners." %>">
    <meta name="twitter:site" content="@theskiff">
    <meta name="twitter:creator" content="@theskiff">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="<%= current_page.data.title || "The Skiff" %>">
    <meta name="og:description" content="<%= current_page.data.description || "A Coworking community in Brighton for individuals - freelancers, remote workers and solo business owners." %>">
    <meta name="og:image" content="https://theskiff.org<%= current_page.data.image || "/images/skiff-mates.jpg" %>">
    <meta name="og:url" content="https://theskiff.org<%= current_page.url %>">
    <meta name="og:site_name" content="The Skiff">
    <meta name="og:locale" content="en_GB">
    <meta name="fb:admins" content="286300106">
    <meta name="og:type" content="website">
    <% if current_page.data.sitemap_noindex == true %>
      <meta name="robots" content="noindex">
    <% end %>
    <%= stylesheet_link_tag "site" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
    <script src='/javascripts/countdown.min.js'></script>
  </head>
  <body>
    <div id="promo-countdown" class="alert alert-danger text-center rounded-0 mb-0" role="alert" style="">
      COVID-19: The Skiff is currently open to a limited number of existing members. We look forward to welcoming new members again soon.
<!--       <a class="btn btn-secondary my-2 my-sm-0" href="/join">Join Today</a>
 -->    </div>
    <nav class="navbar navbar-expand navbar-light bg-light text-monospace">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="/">
              <%= image_tag "theskiff.svg", :width=>30, :class=>"d-inline-block align-top" %>
              <span class="d-none d-sm-inline-block">The Skiff</span>
              </a>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/people">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/place">Place</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/purpose">Purpose</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-outline-success my-2 my-sm-0 mr-2" href="/join">Pricing</a>
          </li>
          <li class="nav-item d-none d-sm-block">
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="/tour">Tour</a>
          </li>
        </ul>
      </div>



    </nav>
    <%= yield %>
<!--     <div id="promo-countdown2" class="alert alert-danger text-center rounded-0 mb-0" role="alert" style="">
      Join The Skiff before 1st February and get up to 25% off for three months
      <a class="btn btn-secondary my-2 my-sm-0" href="/join">Join Today</a>
    </div> -->
  <footer class="py-5">
    <div class="row no-gutters">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-5">
        <div class="card bg-transparent text-white">
          <form action="https://www.getdrip.com/forms/56551550/submissions" method="post" data-drip-embedded-form="56551550">
              <div class="card-body">
                <h4 class="card-title" data-drip-attribute="headlinex">Happier Homeworking in Brighton</h4>
                <p class="card-text" data-drip-attribute="descriptionx">Take our FREE 9 lesson course that has helped over 500 freelancers in Sussex to stay productive and keep cabin fever at bay while working from home.</p>
                <div class="form-group">
                    <label class="sr-only" for="drip-email">Email Address</label>
                    <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" />
                </div>
                <div class="actions">
                  <input type="submit" name="submit" value="Get the first FREE lesson" data-drip-attribute="sign-up-button" class="btn btn-secondary btn-block"/>
                </div>
              </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card bg-transparent text-white">
          <div class="card-body">
            <h4 class="card-title">Address</h4>
            <p class="card-text">
              <%= image_tag "frontdoor.jpg", :width=>100, :class=>"float-left mr-2" %>
              <address>
                The Skiff<br />
                30 Cheapside<br />
                Brighton<br />
                BN1 4GD
              </address>
              <small><a href="https://goo.gl/maps/jGJY1dY21y52">(main entrance on Blackman Street)</a></small>
            </p>
            <h4 class="card-title">Contact</h4>
            <p class="card-text">
              <a href="mailto:hello@theskiff.org">hello@theskiff.org</a><br/>
              @<a href="http://twitter.com/theskiff">TheSkiff</a> on Twitter
            </p>
            <h4 class="card-title">Opening times</h4>
            <p class="card-text">
              8am to 6pm<br />
              Monday to Friday
            </p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card bg-transparent text-white">
          <ul class="nav flex-column">
             <li class="nav-item">
              <a class="nav-link" href="/tour">Book a tour of The Skiff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">Frequently asked questions about The Skiff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meetings">Book a meeting room at The Skiff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Attend an event at The Skiff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organise">Organise an event at The Skiff</a>
            </li>
<!--             <li class="nav-item">
              <a class="nav-link" href="/contact">Contact members of The Skiff</a>
            </li>
 -->            <li class="nav-item">
              <a class="nav-link" href="/members">Find out about a member of The Skiff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/code-of-conduct">Read The Skiff's Code of Conduct</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/membership-agreement">Read The Skiff's Membership Agreement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/join">Join The Skiff</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="https://blog.theskiff.org">Read The Skiff's lastest blog posts</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://js.quaderno.io/v2/"></script>
    <!-- Drip -->
    <script type="text/javascript">
      var _dcq = _dcq || [];
      var _dcs = _dcs || {}; 
      _dcs.account = '2663261';
      
      (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true; 
        dc.src = '//tag.getdrip.com/2663261.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
    </script>
    <% if content_for?(:javascript) %>
      <%= yield_content :javascript %>
    <% end %>
    <script>
      var timerId =
          countdown(
            new Date(2020, 1, 1),
            function(ts) {
              var now_date = new Date();
              var end_date = new Date(2020, 1, 1);
              var countdown_element = document.getElementById('promo-countdown')
              var countdown_element2 = document.getElementById('promo-countdown2')
              if (now_date.getTime() < end_date.getTime()) {
                countdown_content = ts.toHTML("strong") + " to get upto 25% off for 3 months: <a class='btn btn-sm btn-secondary my-2 my-sm-0 mr-2' href='/join'>Join now</a>" ;
                countdown_element.innerHTML = countdown_content;
                countdown_element2.innerHTML = countdown_content;                
                countdown_element.style.display = "block";
                countdown_element2.style.display = "block";
              }
            });
    </script>
  </body>
</html>
